<mat-nav-list>
    <div class="profile-card">
        <img src="../../../../assets/img/teacher.png" class="my-3" />
        <div class="header">
            <h5>Exam Owl</h5>
            <h6>edu@examowl.in</h6>
        </div>
    </div>

    <mat-divider></mat-divider>
    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/comingsoon">
        <mat-icon>dvr</mat-icon>Questions
    </a>

    <span>
        <mat-list-item (click)="showQuizSubmenu = !showQuizSubmenu" class="parent mb-1"
            (click)="toggleSubmenu('quiz_submenu')">
            <mat-icon>menu_book</mat-icon>
            <span class="full-width">Quiz/Exam</span>
    <mat-icon class="menu-button" [ngClass]="{'rotated' : showQuizSubmenu}">expand_more</mat-icon>
    </mat-list-item>
    <div class="submenu" [ngClass]="{'expanded' : showQuizSubmenu}" id="quiz_submenu">
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/createExam">
            <mat-icon>business</mat-icon>Create Exam
        </a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/draftExam">
            <mat-icon> colorize</mat-icon>Draft Exam
        </a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/myExam">
            <mat-icon>schedule</mat-icon>My Exam
        </a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/scheduleExam">
            <mat-icon>local_hospital</mat-icon>Schedule Exam
        </a>
    </div>
    </span>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/comingsoon">
        <mat-icon>dvr</mat-icon>Study Notes
    </a>
    <a mat-list-item routerLinkActive="list-item-active " routerLink="/comingsoon">
        <mat-icon>dvr</mat-icon>Class
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/comingsoon">
        <mat-icon>dvr</mat-icon>Evaluation
    </a>
    <a mat-list-item routerLinkActive="list-item-active " routerLink="/comingsoon">
        <mat-icon>dvr</mat-icon>Calender
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/comingsoon">
        <mat-icon>dvr</mat-icon>Performance
    </a>



</mat-nav-list>